In [4]:
import pandas as pd
import numpy as np

In [63]:
df = pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [64]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [65]:
df
# new = merge.drop(['Lifetime Post Total Reach', 'comment'], axis=1)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [78]:
subset1 = df.iloc[:,[1,2,3]]
subset1

     SepalLengthCm  SepalWidthCm  PetalLengthCm
0              5.1           3.5            1.4
1              4.9           3.0            1.4
2              4.7           3.2            1.3
3              4.6           3.1            1.5
4              5.0           3.6            1.4
..             ...           ...            ...
145            6.7           3.0            5.2
146            6.3           2.5            5.0
147            6.5           3.0            5.2
148            6.2           3.4            5.4
149            5.9           3.0            5.1

[150 rows x 3 columns]

In [79]:
subset2 = df.iloc[:,[4,5]]
subset2

     PetalWidthCm         Species
0             0.2     Iris-setosa
1             0.2     Iris-setosa
2             0.2     Iris-setosa
3             0.2     Iris-setosa
4             0.2     Iris-setosa
..            ...             ...
145           2.3  Iris-virginica
146           1.9  Iris-virginica
147           2.0  Iris-virginica
148           2.3  Iris-virginica
149           1.8  Iris-virginica

[150 rows x 2 columns]

In [80]:
merge=pd.concat([subset1, subset2], axis=1)
merge.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [74]:
df['PetalWidthCm'].value_counts().head()

0.2    28
1.3    13
1.5    12
1.8    12
1.4     8
Name: PetalWidthCm, dtype: int64

In [82]:
sort = merge.sort_values(by='SepalLengthCm', ascending=True)
sort

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
13             4.3           3.0            1.1           0.1     Iris-setosa
42             4.4           3.2            1.3           0.2     Iris-setosa
38             4.4           3.0            1.3           0.2     Iris-setosa
8              4.4           2.9            1.4           0.2     Iris-setosa
41             4.5           2.3            1.3           0.3     Iris-setosa
..             ...           ...            ...           ...             ...
122            7.7           2.8            6.7           2.0  Iris-virginica
118            7.7           2.6            6.9           2.3  Iris-virginica
117            7.7           3.8            6.7           2.2  Iris-virginica
135            7.7           3.0            6.1           2.3  Iris-virginica
131            7.9           3.8            6.4           2.0  Iris-virginica

[150 rows x 5 columns]

In [85]:
transpose = sort.transpose()
transpose

,13,42,38,8,41,22,3,6,47,2,...,125,109,107,130,105,122,118,117,135,131
SepalLengthCm,4.3,4.4,4.4,4.4,4.5,4.6,4.6,4.6,4.6,4.7,...,7.2,7.2,7.3,7.4,7.6,7.7,7.7,7.7,7.7,7.9
SepalWidthCm,3.0,3.2,3.0,2.9,2.3,3.6,3.1,3.4,3.2,3.2,...,3.2,3.6,2.9,2.8,3.0,2.8,2.6,3.8,3.0,3.8
PetalLengthCm,1.1,1.3,1.3,1.4,1.3,1.0,1.5,1.4,1.4,1.3,...,6.0,6.1,6.3,6.1,6.6,6.7,6.9,6.7,6.1,6.4
PetalWidthCm,0.1,0.2,0.2,0.2,0.3,0.2,0.2,0.3,0.2,0.2,...,1.8,2.5,1.8,1.9,2.1,2.0,2.3,2.2,2.3,2.0
Species,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,...,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica

In [87]:
melt = sort.melt(id_vars=['Species'], var_name='Dimension', value_name='L&B')
melt

            Species      Dimension  L&B
0       Iris-setosa  SepalLengthCm  4.3
1       Iris-setosa  SepalLengthCm  4.4
2       Iris-setosa  SepalLengthCm  4.4
3       Iris-setosa  SepalLengthCm  4.4
4       Iris-setosa  SepalLengthCm  4.5
..              ...            ...  ...
595  Iris-virginica   PetalWidthCm  2.0
596  Iris-virginica   PetalWidthCm  2.3
597  Iris-virginica   PetalWidthCm  2.2
598  Iris-virginica   PetalWidthCm  2.3
599  Iris-virginica   PetalWidthCm  2.0

[600 rows x 3 columns]

In [89]:
cast = pd.pivot_table(sort, index='Species')
cast

                 PetalLengthCm  PetalWidthCm  SepalLengthCm  SepalWidthCm
Species
Iris-setosa              1.464         0.244          5.006         3.418
Iris-versicolor          4.260         1.326          5.936         2.770
Iris-virginica           5.552         2.026          6.588         2.974